
<app-header></app-header>

<div class="Order_Page">
  <div class="PageIdentity container-fluid">
    <div class="row">
      <div class="col-sm-12 text-right">
        <p class="Identity"> Reviews </p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-7">
          </div>
          <div class="col-sm-5">
            <div class="Search_Section">
              <input type="text" placeholder="Search.." name="search">
              <i class="material-icons">search</i>
            </div>
          </div>
        </div>
        <br>
        <div class="Table_Section">
          <table>
            <thead>
              <tr>
                <th>S.no</th>
                <th>Order Id</th>
                <th>Date</th>
                <th>Username</th>
                <th>Overall Rating</th>
                <th>Rating Summary</th>
                <th>Review</th>
             <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="S_no"> 1 </span>
                </td>
                <td>
                  <span class="S_no">  Order-16694</span>
                </td>
                <td>
                  <span class="Date"> mar 28,2017 </span>
                </td>
                <td>
                  <span class="Date"> username1</span>
                </td>
                <td>
                  <span class="Name_Style">3.5/5</span>
                </td>
                <td>
                  <span class="Name_Style"> Service<b>(3.5/5)</b>, </span>
                  <span class="Name_Style"> Quality<b>(3.5/5)</b>, </span>
                  <span class="Name_Style"> Value<b>(3.5/5)</b> </span>
                </td>
                <td>
                  <span class="User_Style">Lorem ipsum dolor sit amet consectetur adipisicing elit....</span>

                </td>
               <td>
                <span class="Action_Section Bg_Info">
                    <i class="material-icons" (click)="ViewReview()"> remove_red_eye </i>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="S_no"> 2 </span>
                </td>
                <td>
                  <span class="S_no">Order-16694 </span>
                </td>
                <td>
                  <span class="Date"> mar 28,2017 </span>
                </td>
                <td>
                  <span class="Date"> username1</span>

                </td>
                <td>
                  <span class="Name_Style">3.5/5</span>
                </td>
                <td>
                  <span class="Name_Style"> Service<b>(3.5/5)</b>, </span>
                  <span class="Name_Style"> Quality<b>(3.5/5)</b>,</span>
                  <span class="Name_Style"> Value<b>(3.5/5)</b> </span>
                </td>
                <td>
                  <span class="User_Style">Lorem ipsum dolor sit amet consectetur adipisicing elit...</span>

                </td>

                <td>
                   <span class="Action_Section Bg_Info">
                        <i class="material-icons" (click)="ViewReview()"> remove_red_eye </i>
                      </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="S_no"> 3 </span>
                </td>
                <td>
                  <span class="S_no">  Order-16694  </span>
                </td>
                <td>
                  <span class="Date"> mar 28,2017 </span>
                </td>
                <td>
                  <span class="Date"> username1</span>

                </td>
                <td>
                  <span class="Name_Style">3.5/5</span>
                </td>
                <td>
                  <span class="Name_Style"> Service<b>(3.5/5)</b>, </span>
                  <span class="Name_Style"> Quality<b>(3.5/5)</b>,</span>
                  <span class="Name_Style"> Value<b>(3.5/5)</b> </span>
                </td>
                <td>
                  <span class="User_Style">Lorem ipsum dolor sit amet consectetur adipisicing elit... </span>

                </td>
                <td>
                  <span class="Action_Section Bg_Info">
                        <i class="material-icons" (click)="ViewReview()"> remove_red_eye </i>
                      </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="S_no"> 4 </span>
                </td>
                <td>
                  <span class="S_no"> Order-16694  </span>
                </td>
                <td>
                  <span class="Date"> mar 28,2017 </span>
                </td>
                <td>
                  <span class="Date"> username1</span>

                </td>
                <td>
                  <span class="Name_Style">3.5/5</span>
                </td>
                <td>
                  <span class="Name_Style"> Service<b>(3.5/5)</b>,</span>
                  <span class="Name_Style"> Quality<b>(3.5/5)</b>,</span>
                  <span class="Name_Style"> Value<b>(3.5/5)</b> </span>
                </td>
                <td>
                  <span class="User_Style">Lorem ipsum dolor sit amet consectetur adipisicing elit..</span>

                </td>

                <td>
                    <span class="Action_Section Bg_Info">
                        <i class="material-icons" (click)="ViewReview()"> remove_red_eye </i>
                      </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
