<app-header></app-header>

<table>
<thead>
  <th>Date</th>
  <th>Total Sales</th>
  <th>Total Earnings</th>
  <th>Balance</th>
</thead>
<tbody>
  <tr class="TableList">
    <td class="TableItem">Apr 27,2018</td>
    <td class="TableItem">10000</td>
    <td class="TableItem">8000</td>
    <td class="TableItem">2000</td>
  </tr>
  <tr class="TableList">
    <td class="TableItem">Apr 28,2018</td>
    <td class="TableItem">15000</td>
    <td class="TableItem">9000</td>
    <td class="TableItem">6000</td>
  </tr>
  <tr class="TableList">
    <td class="TableItem">Apr 29, 2018</td>
    <td class="TableItem">8000</td>
    <td class="TableItem">3000</td>
    <td class="TableItem">5000</td>
  </tr>
</tbody>
  </table>