form{
    padding:25px;
}

.delete{
    border:1px solid red;
    color:red;
    padding:10px;
    margin-left:200px;
   }
input[type="text"]{
      border-radius:5px;
    width:100%;
    padding:10px;
    border:1px solid #dcd7d7;
  }
  .message{
      border-radius:5px;
      border:1px solid #dcd7d7;
  }