
/* Body Design Css */
.FoodListPage
{
    padding:0;
    margin:0;
    background-color:#EBEDF3;
}

.PageIdentity{
    height:40px;
    line-height:40px;
    margin-top:3px;
    margin-bottom:5px;
}
.PageIdentity .Identity{
    color: #777777;
    font-size: 13px;
    font-weight: 600;
}
.PageIdentity .Identity span{
    cursor: pointer;
    color: #06a92c;
    font-weight: 600;
    font-size: 15px;
}




.Left_Section {
    background-color: #fff;
    margin-top: 30px;
}
.Left_Section .List {
    padding: 0px;
    margin: 0px;
}
.Left_Section .List .Item:first-child {
    border-top: none;
}
.Left_Section .List .Item {
    list-style: none;
    padding: 15px 20px 12px 20px;
    margin: 0px;
    border-top: 1px solid #ebedf3;
    line-height: 1;
    box-shadow: none;
    text-shadow: none;
    display: block;
    width: 100%;
    cursor: pointer;
}
.Left_Section .List .Item span {
    font-size: 15px;
    color: #777777;
    font-weight: 600;
}
.Left_Section .List .Item:hover span {
    color: #08a92c
}







.FoodsList_Section{
    background-color: #ffffff;
    padding:10px;
}
.FoodsList_Section .FoodsList{
    list-style-type: none;
    padding:6px;
}
.FoodsList_Section .FoodsList .FoodItem{
    border-bottom: 1px solid #dcdcdc;
}
.FoodsList_Section .FoodsList .FoodItem .FoodItem_Section{
    display:flex;
    width:100%;
    align-items: center;
}
.FoodsList_Section .FoodsList .FoodItem .FoodItem_Section .ImageSection{
    width: 80px;
    height: 80px;
}
.FoodsList_Section .FoodsList .FoodItem .FoodItem_Section .ImageSection img{
    max-height: 100%;
    max-width: 80%;
}
.FoodsList_Section .FoodsList .FoodItem .FoodItem_Section .Price_Section .price {
    width: 180px;
    padding-left:80px;
    font-weight:600;
}
.FoodsList_Section .FoodsList .FoodItem .FoodItem_Section .Action_Section {
    width: 100px;
}
.Item-Name{
    font-weight: 700;
    margin-top: 5px;
    color: #484848;  
}
 h6 {
    font-size: 1rem;
}  
.Item-Details{
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0.4px;
}
.edit{
    padding:15px;
    color:blue;
}
.delete{
    color:red;
}





.Footer{
    background-color:black;
    padding:15px;
}
.QuickLinks{
    display:flex;
    color:white;
    width:100%;
    font-size:13px;
}
.QuickLinks p{
    width:12.5%;
    text-align:center;
}

