<div class="Modal_Content">
    <div class="Modal_Header">
        <p>Create Food Item</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
    </div>
    <div class="Model_Body">
        <div class="Image_Section">
            <img src="assets/images/basic/4.jpg">
            <span class="Upload_Btn">Upload File </span>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 Form_Input">
                <input type="text" placeholder="Name..">
            </div>
            <div class="col-sm-6 Form_Input">
                <input type="text"  placeholder="Price..">
            </div><br>
            <div class="col-sm-6 Form_Input">
                <input type="text" placeholder="Category..">
            </div>
            <div class="col-sm-6 Form_Input">
                <input type="text" placeholder="Status.." >
            </div>
            <div class="col-sm-12 Form_TextArea">
                <textarea class="message" rows="5" placeholder="Ingredients..."></textarea>
            </div>
            <div class="col-sm-6 Form_Select">
                <select>
                    <option disabled> -- Available Location -- </option>
                    <option> All </option>
                    <option> Location1 </option>
                    <option> Location2 </option>
                    <option> Location3 </option>
                    <option> Location4 </option>
                    <option> Location5 </option>
                </select>
            </div>
        </div>
        <br>
        <h5> Variants </h5>
        <div class="row">
            <div class="col-sm-5 Form_Input">
                <input type="text" placeholder="Variant Type" >
            </div>
            <div class="col-sm-6 Form_Input">
                <input type="text" placeholder="Variant Name" >
            </div>
            <div class="col-sm-1 Append_Btn">
                <i class="material-icons">add_circle_outline</i>
            </div>
        </div>
    </div>
    <div class="Model_Footer">
        <span class="Submit_Btn" > Submit </span>
    </div>
</div>