<app-header></app-header>

<table>
  <tr>
    <th>Order No</th>
    <th>Date & time </th>
    <th>Location</th>
    <th>No Of Products</th>
    <th>Total Price</th>
    <th>Customer Details</th>
    <th>Payments Status</th>
    <th>Action</th>
    </tr>
    <tr class="TableList">
      <td class="TableItem">Order-16694</td>
      <td class="TableItem">May 29,2018 <span>3:30pm</span></td>
      <td class="TableItem">location1</td>
      <td class="TableItem">5</td>
      <td class="TableItem">$ 26.96</td>
      <td class="TableItem">username<span>email</span></td>
      <td class="TableItem"><p>processing</p></td>
      <td class="TableItem"><i class="material-icons">
          remove_red_eye
          </i></td>
      </tr>
      <tr class="TableList">
          <td class="TableItem">Order-16672</td>
          <td class="TableItem">May 29,2018 <span>3pm</span></td>
          <td class="TableItem">location2</td>
          <td class="TableItem">6</td>
          <td class="TableItem">$ 13.50</td>
          <td class="TableItem">username<span>email</span></td>
          <td class="TableItem"><p>processing</p></td>
          <td class="TableItem"><i class="material-icons">
              remove_red_eye
              </i></td>
          </tr>
          <tr class="TableList">
              <td class="TableItem">Order-16618</td>
              <td class="TableItem">	May 25,2018 <span>4.30pm</span></td>
              <td class="TableItem">location3</td>
              <td class="TableItem">7</td>
              <td class="TableItem">$ 10.47</td>
              <td class="TableItem">username<span>email</span></td>
              <td class="TableItem"><p>processing</p></td>
              <td class="TableItem"><i class="material-icons">
                  remove_red_eye
                  </i></td>
              </tr>
              <tr class="TableList">
                  <td class="TableItem">Order-16506</td>
                  <td class="TableItem">Order-16506 <span>4pm</span></td>
                  <td class="TableItem">location1</td>
                  <td class="TableItem">8</td>
                  <td class="TableItem">$ 14.50 </td>
                  <td class="TableItem">username<span>email</span></td>
                  <td class="TableItem"><p>processing</p></td>
                  <td class="TableItem"><i class="material-icons">
                      remove_red_eye
                      </i></td>
                  </tr>
                  <tr class="TableList">
                      <td class="TableItem">Order-16497</td>
                      <td class="TableItem">May 29,2018 <span>3:30pm</span></td>
                      <td class="TableItem">location1</td>
                      <td class="TableItem">5</td>
                      <td class="TableItem">$ 26.96</td>
                      <td class="TableItem">username<span> email</span></td>
                      <td class="TableItem"><p>processing</p></td>
                      <td class="TableItem"><i class="material-icons">
                          remove_red_eye
                          </i></td>
                      </tr>
                      <tr class="TableList">
                          <td class="TableItem">Order-16497</td>
                          <td class="TableItem">May 29,2018 <span>3:30pm</span></td>
                          <td class="TableItem">location1</td>
                          <td class="TableItem">5</td>
                          <td class="TableItem">$ 26.96</td>
                          <td class="TableItem">username<span> email</span></td>
                          <td class="TableItem"><p>processing</p></td>
                          <td class="TableItem"><i class="material-icons">
                              remove_red_eye
                              </i></td>
                          </tr>
                          <tr class="TableList">
                              <td class="TableItem">Order-16497</td>
                              <td class="TableItem">May 29,2018 <span>3:30pm</span></td>
                              <td class="TableItem">location1</td>
                              <td class="TableItem">5</td>
                              <td class="TableItem">$ 26.96</td>
                              <td class="TableItem">username<span> email</span></td>
                              <td class="TableItem"><p>processing</p></td>
                              <td class="TableItem"><i class="material-icons">
                                  remove_red_eye
                                  </i></td>
                              </tr>
                              <tr class="TableList">
                                  <td class="TableItem">Order-16497</td>
                                  <td class="TableItem">May 29,2018 <span>3:30pm</span></td>
                                  <td class="TableItem">location1</td>
                                  <td class="TableItem">5</td>
                                  <td class="TableItem">$ 26.96</td>
                                  <td class="TableItem">username<span> email</span></td>
                                  <td class="TableItem"><p>processing</p></td>
                                  <td class="TableItem"><i class="material-icons">
                                      remove_red_eye
                                      </i></td>
                                  </tr>
  </table>>