<div class="Modal_Content">
    <div class="Modal_Header">
       <p> Review View</p>
       <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
    </div>
    <div class="Model_Body">
       <div class="row">
          <div class="col-sm-12">
             <div class="Customer_Info">
                <h5> Customer Name </h5>
                <p class="Customer_Details"> Order Id : <span> #Oder1234 </span> </p>
                <p class="Customer_Details"> Date : <span> 01-06-2018 </span> </p>
                <p class="Customer_Details"> Overall Rating : <span> 3.5/5 </span> </p>
                <p class="Customer_Details"> Service Rating  : <span> 3.5/5 </span> </p>
                <p class="Customer_Details"> Quality Rating : <span> 3.5/5 </span> </p>
                <p class="Customer_Details"> Value Rating  : <span> 3.5/5 </span> </p>
                <p class="Customer_Details"> Review : <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi nihil iure cupiditate molestiae illum. Cumque perspiciatis quo commodi, quidem saepe harum. Vitae, temporibus placeat perferendis repellendus aliquid illo dolorem exercitationem. </span> </p>
             </div>
          </div>
       </div>
       <br>
    </div>
    <div class="Model_Footer">
       <span class="Basic_Btn" (click)="bsModalRef.hide()"> Close </span>
    </div>
 </div>
