
<div class="Header">
    <div class="HeaderLogo">
      <img src="assets/images/basic/logo.png" alt="Logo" class="header-logo">
      <div class="logout">
        <h5>
          <a> Logout </a>
        </h5>
       
      </div>
  
    </div>
    <div class="HeaderMenu">
      <ul class="menus">
        <li class="menu-list">
          <a [routerLink]="['/Dashboard']">
            <span class="pull-left"> &nbsp; Dashboard </span>
          </a>
        </li>
        <li class="menu-list">
          <a [routerLink]="['/FoodList']">
            <span class="pull-left"> &nbsp; Food List </span>
          </a>
        </li>
        <li class="menu-list">
          <a [routerLink]="['/Orders']">
            <span class="pull-left"> &nbsp; Orders </span>
          </a>
        </li>
        <li class="menu-list">
          <a [routerLink]="['/Payments']">
            <span class="pull-left"> &nbsp; Payments </span>
          </a>
        </li>
        <li class="menu-list">
          <a [routerLink]="['/Promotions']">
            <span class="pull-left"> &nbsp; Promotions </span>
          </a>
        </li>
        <li class="menu-list">
          <a [routerLink]="['/Locations']">
            <span class="pull-left"> &nbsp; Locations </span>
          </a>
        </li>
        <!-- <li class="menu-list">
          <a [routerLink]="['/Reports']">
            <span class="pull-left"> &nbsp; Reports </span>
          </a>
        </li> -->
        <li class="menu-list">
          <a [routerLink]="['/Settings']">
            <span class="pull-left"> &nbsp; Settings </span>
          </a>
        </li>
      </ul>
    </div>
  </div>