<div class="Modal_Content">
   <div class="Modal_Header">
      <p> Promotion View</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-12">
            <div class="Customer_Info">
               <h5> Promo Name </h5>
               <p class="Customer_Details"> Code : <span> #CODE1234 </span> </p>
               <p class="Customer_Details"> Duration : <span> 01-06-2018 to 01-07-2018 </span> </p>
               <p class="Customer_Details"> Applicable To : <span> New Users </span> </p>
               <p class="Customer_Details"> Min Order Value : <span> $50 </span> </p>
               <p class="Customer_Details"> Discount Type : <span> Flat </span> </p>
               <p class="Customer_Details"> Discount Amount : <span> $10 </span> </p>
               <p class="Customer_Details"> Promo Description : <span> Some Promo Description here.... </span> </p>
            </div>
         </div>
      </div>
      <br>
   </div>
   <div class="Model_Footer">
      <span class="Basic_Btn" (click)="bsModalRef.hide()"> Close </span>
   </div>
</div>
         