<app-header></app-header>

<div class="Order_Page">
	<div class="PageIdentity container-fluid">
		<div class="row">
			<div class="col-sm-12 text-right">
				<p class="Identity">
				<span class="link">Home</span> / Promlotions</p>
			</div>
		</div>
	</div>

   <div class="row">
      <div class="col-sm-2">
          <div class="Left_Section">
            <ul class="List">
              <li class="Item" [ngClass]="{'active': Active_Tab === 'dashboard' }" (click)="Active_Tab_Change('dashboard')"> <span> Dashboard </span>  </li>
              <li class="Item" [ngClass]="{'active': Active_Tab === 'Promocode' }" (click)="Active_Tab_Change('Promocode')"> <span> Promocode</span>  </li>
              <li class="Item" [ngClass]="{'active': Active_Tab === 'Offer' }" (click)="Active_Tab_Change('Offer')"> <span> Offer </span>  </li>
              <li class="Item" [ngClass]="{'active': Active_Tab === 'Giftcards' }" (click)="Active_Tab_Change('Giftcards')"> <span> Giftcards</span>  </li>
             </ul>
          </div>
        </div>
      <div class="col-sm-10">
          <form class="form frm-promotion" style="color:black;border-radius:5px;">
              <div class="row">
                  <div class="col-sm-6">
                    <button name="add_promotion" class="bg-green add_promotion" (click)="PromotionModel()">Add New</button>
                  </div>
                  <div class="col-sm-6">
                      <div class="Search_Section">
                        <input type="text" placeholder="Search.." name="search">
                        <i class="material-icons">search</i>
                      </div>
                    </div>
              </div>
          </form><br>
         <div class="Table_Section">
            <table >
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Date</th>
                     <th>Category </th>
                     <th>Promo Code</th>
                     <th>Validity</th>                     
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <td>
                      <span class="S_no"> 1 </span>
                    </td>                     
                     <td>
                        <span class="Date"> May 29,2018 </span>
                        
                     </td>
                     <td> 
                        <span class="Name_Style"> Product Category Name </span> 
                     </td>
                     <td>
                        <span class="User_Style"> CODE005 </span>
                     </td>
                    <td>
                      <span class="Date">Jun 10,2018 </span>
                    </td>
                     <td>
                        <span class="Status_Tag Bg_Success"> Active </span>
                     </td>
                     <td>
                        
                            <span class="Action_Section Bg_Danger">
                              <i class="material-icons">delete</i>
                            </span>
                            <span class="Action_Section Bg_Info">
                              <i class="material-icons">edit</i>
                            </span>
                            <span class="Action_Section Bg_Success">
                              <i class="material-icons" (click)="ViewPromotion()"> remove_red_eye </i>
                            </span>
                         
                     </td>
                  </tr>
                  <tr>
                      <td>
                        <span class="S_no"> 2 </span>
                      </td>                     
                       <td>
                          <span class="Date"> May 29,2018 </span>
                         
                       </td>
                       <td> 
                          <span class="Name_Style"> Product Category Name </span> 
                       </td>
                       <td>
                          <span class="User_Style"> CODE006 </span>
                       </td>
                      <td>
                        <span class="Date">Jun 5,2018 </span>
                      </td>
                       <td>
                          <span class="Status_Tag Bg_warning"> InActive </span>
                       </td>
                       <td>
                        
                              <span class="Action_Section Bg_Danger">
                                <i class="material-icons">delete</i>
                              </span>
                              <span class="Action_Section Bg_Info">
                                <i class="material-icons">edit</i>
                              </span>
                              <span class="Action_Section Bg_Success">
                                <i class="material-icons"> remove_red_eye </i>
                              </span>
                            
                       </td>
                    </tr>
                    <tr>
                        <td>
                          <span class="S_no"> 3 </span>
                        </td>                     
                         <td>
                            <span class="Date"> May 29,2018 </span>
                            
                         </td>
                         <td> 
                            <span class="Name_Style"> Product Category Name </span> 
                         </td>
                         <td>
                            <span class="User_Style"> CODE004 </span>
                         </td>
                        <td>
                          <span class="Date">May 25,2018 </span>
                        </td>
                         <td>
                            <span class="Status_Tag Bg_Danger"> Expired </span>
                         </td>
                         <td>
                            
                                <span class="Action_Section Bg_Danger">
                                  <i class="material-icons">delete</i>
                                </span>
                                <span class="Action_Section Bg_Info">
                                  <i class="material-icons">edit</i>
                                </span>
                                <span class="Action_Section Bg_Success">
                                  <i class="material-icons"> remove_red_eye </i>
                                </span>
                              
                         </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="S_no"> 4 </span>
                          </td>                     
                           <td>
                              <span class="Date"> May 29,2018 </span>
                              
                           </td>
                           <td> 
                              <span class="Name_Style"> Product Category Name </span> 
                           </td>
                           <td>
                              <span class="User_Style"> CODE008 </span>
                           </td>
                          <td>
                            <span class="Date">Jun 10,2018 </span>
                          </td>
                           <td>
                              <span class="Status_Tag Bg_Success"> Active </span>
                           </td>
                           <td>
                             
                                  <span class="Action_Section Bg_Danger">
                                    <i class="material-icons">delete</i>
                                  </span>
                                  <span class="Action_Section Bg_Info">
                                    <i class="material-icons">edit</i>
                                  </span>
                                  <span class="Action_Section Bg_Success">
                                    <i class="material-icons"> remove_red_eye </i>
                                  </span>
                               
                           </td>
                        </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

